* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    overflow: hidden;
}
.container {
    text-align: center;
    overflow: auto;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    color: #000;
    background: url("heart-balloon-5120x2880-13439.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(100px);
    border-image: fill 0 linear-gradient(#0001, rgba(179, 42, 40, 0.708));
}
h1 {
    margin: 10px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #000, #fff, #000);
    animation: animate 3s linear infinite;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.col {
    margin-left: 500px;
}
.img1 {
    width: 25%;
    position: absolute;
    display: flex;
    filter: grayscale(100%);
    filter: drop-shadow(#000 10px 0 0);
    margin-top: 70px;
    animation: showup 7s infinite;
}

.img2 {
    width: 25%;
    position: absolute;
    display: flex;
    margin-top: -30px;
    margin-left: 60px;
    transform: rotate(360deg);
    filter: drop-shadow(#000 10px 0 0);
    animation: showup 7s infinite;
}

.img5 {
    width: 20%;
    position: absolute;
    display: block;
    margin-top: 150px;
    margin-left: 300px;
    transform: rotate(360deg);
    filter: drop-shadow(#000 1px 1px 0);
    animation: showup 7s infinite;
}
@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 500px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
span {
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-top: 90px;
    margin-left: 220px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 10px,
        rgb(255, 255, 255) 0px 0px 10px, rgb(0, 0, 0) 0px 2px 10px;
    animation: showup 7s infinite;
}
@media screen and (min-width: 100px) {
    @media screen and (max-width: 900px) {
        body {
            overflow: hidden;
        }
        .container {
            max-width: 100%;
            min-height: 100vh;
            color: #000;
            background: url("heart-balloon-5120x2880-13439.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            filter: brightness(100px);
            border-image: fill 0
                linear-gradient(#0001, rgba(179, 42, 40, 0.708));
        }
        span {
            color: #fff;
            font-size: 30px;
            position: absolute;
            margin-top: 90px;
            margin-left: 140px;
            text-shadow: rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 10px,
                rgb(255, 255, 255) 0px 0px 10px, rgb(0, 0, 0) 0px 2px 10px;
            animation: showup 7s infinite;
        }
        .img1 {
            display: none;
        }

        .img2 {
            display: none;
        }

        .img5 {
            width: 30%;
            position: absolute;
            display: block;
            margin-top: 150px;
            margin-left: 130px;
            transform: rotate(360deg);
            filter: drop-shadow(#000 1px 1px 0);
            animation: showup 7s infinite;
        }
        .img3 {
            width: 30%;
            position: absolute;
            display: block;
            margin-top: -350px;
            margin-left: 130px;
            transform: rotate(360deg);
            filter: drop-shadow(#000 1px 1px 0);
            animation: showup 7s infinite;
        }

        h2 {
            display: flex;
            justify-content: flex-end;
            margin-top: 400px;
            margin-right: 100px;
            position: relative;
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: 4px;
            overflow: hidden;
            background: linear-gradient(90deg, #000, #fff, #000);
            background-repeat: no-repeat;
            background-size: 80%;
            animation: animate 3s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }

        /*  */
    }
}
